<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <br>
    <h3>My Notes</h3>
    <ol>
      <li>All fs. operations are made synchronous so as they were made BEFORE the text file is rendered, so I would not have the latest version of the file displayed. Assync fs. operations finish BEFORE the fs.readFileSync takes in file's content. Node documentation says nest one fs. inside the other fs. in order to maintain the right order of assync operations.</li>
      <li>Other advanced assync methods of reading files are stream and pipe. If I were to make sandbox exambles of those, I would either output the results in the console only, or make a React app.</li>
      <li>All guides say I need to use "router.use(express.urlencoded());" and "router.use(express.json());" to receive JSON data via post requests. However, disabling both in this project had no effect on data transfer. Moreover, node tells me body-parser is deprecated without an extended option, when uncomment "router.use(express.urlencoded());"</li>
      <li>HOW to get the FILE NAME and PATH:
        <ol>
          <li>path.basename(__filename) returns File NAME only</li>
          <li>__dirname returns PATH only</li>
          <li>__filename returns PATH + File NAME</li>
        </ol>
      </li>
      <li>How to assemble a PATH: "const variable = path.join(__dirname, 'aaa', 'bbb', 'ccc');"</li>
    </ol>
  </body>
</html>
